@import '../../constants/colors.scss';

.movie-details-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding: 50px 120px;
    height: auto;
    min-height: 100vh;
    width: 100%;
    .back-button{
        position: absolute;
        z-index: 3;
        top: 50px;
        left: 120px;
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
        color: $main-color;
        text-shadow: 2px 2px 3px $black;
    }
    .movie-details{
        margin-top: 80px;
        position: relative;
        z-index: 2;
        color: $main-color;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        text-shadow: 2px 2px 5px $black;
        .main-picture{
            box-shadow: 0 0 7px $black;
            width: 100%;
            max-width: 450px;
            height: auto;
            margin-bottom: 20px;
            animation: animateScale 1.2s ease-in;
        }
        .movie-details-info{
            max-width: 500px;
            margin-right: 80px;
            .title{
                display: flex;
                flex-direction: column;
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 18px;
                }
            }
            .genres{
                display: flex;
                flex-wrap: wrap;
                max-width: 450px;
                margin-top: 15px;
                .genre{
                    margin: 5px 10px 5px 0px;
                    padding: 5px 10px;
                    background: $black;
                    border-radius: 10px;
                    box-shadow: 0 0 5px $main-color;
                   
                }
            }
            .overview{
                margin-top: 40px;
                max-width: 450px;
                line-height: 30px;
                font-size: 20px;
            }
            .time-rating{
                display: flex;
                .time, .rating{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 10px;
                    border-radius: 10px;
                    background: $main-color;
                    color: $text-color;
                    text-shadow: none;
                    font-weight: bold;
                    box-shadow: 0 0 5px $black;
                    width: 130px;
                    height: 40px;
                    margin-top: 20px;
                    img{
                        margin-right: 8px;
                    }
                }
                .rating{
                    width: 70px;
                    margin-left: 10px;
                }
        }
       
        }
        
    }
}
.movie-details-container::after{
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    height:100%;
    z-index: 1;
}
.loader{
    width: 100%;
    margin: 40px auto;
}
@media only screen and (max-width: 1280px) {
    .movie-details-container{
        .movie-details{
            flex-wrap: wrap;
            flex-direction: column;
            .main-picture{
                margin: 0;
            }
            .movie-details-info{
                margin-right: 0;
                .title{
                    margin-top: 15px;
                }
            }
        }
    }
}
@media only screen and (max-width: 720px) {
    .movie-details-container{
        padding: 25px 80px;
        .back-button{
            left: 40px;
        }
        .movie-details{
           .movie-details-info{
                .title{
                    h1{
                        font-size: 32px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                .overview{
                    font-size: 14px;
                }
           }
        }

    }
}

@keyframes animateScale {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        box-shadow: 0 0 20px $black;
    }
    100%{
        transform: scale(1);
    }
}