.movie-details-container{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding: 50px 120px;
    height: auto;
    min-height: 100vh;
    width: 100%;
    .movie-details{
        position: relative;
        z-index: 2;
        color: #d7ddd1;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-shadow: 2px 2px 5px black;
        .title{
            max-width: 650px;
            display: flex;
            flex-direction: column;
            h1{
                font-size: 48px;
            }
            p{
                font-size: 24px;
            }
        }
        .main-picture{
            box-shadow: 0 0 7px black;;
            width: 100%;
            max-width: 450px;
            height: auto;
            margin-right: 50px;
            margin-bottom: 20px;
        }
        .genres{
            display: flex;
            margin-top: 15px;
            .genre{
                margin: 0 5px;
                padding: 5px 10px;
                background: black;
                border-radius: 10px;
                box-shadow: 0 0 5px #d7ddd1;
                &:first-child{
                    margin-left: 0;
                }
            }
        }
        .overview{
            margin-top: 40px;
            max-width: 450px;
            line-height: 30px;
            font-size: 20px;
        }
        .time{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 10px;
            border-radius: 10px;
            background: #d7ddd1;
            color: #222222;
            text-shadow: none;
            font-weight: bold;
            box-shadow: 0 0 5px black;
            width: 130px;
            margin-top: 20px;
            img{
                margin-right: 8px;
            }
        }
    }
}
.movie-details-container::after{
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    height:100%;
    z-index: 1;
}
@media only screen and (max-width: 1280px) {
    .movie-details-container{
        .movie-details{
            // flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            img{
                margin-right: 0;
            }
        }
    }
}