@import '../../constants/colors.scss';

.not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 120px;
    }
    h2{
        margin-bottom: 40px;
    }
    .movie-button{
        border: none;
        background: $main-color;
        padding: 15px;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0px 0px 4px $black;
    }
}