a{
    text-decoration: none;
    margin: 10px;
}
.movie-card{
    position: relative;
    color: #f4f4f4;
    background-size: cover;
    height: 360px;
    width: 250px;
    box-shadow: 1px 1px 5px black;
    transition: all 0.4s ease-in-out;
    .movie-details{
        .movie-title{
            font-size: 16px;
        }
        padding: 0 20px;
        padding-top: 250px;
        position: absolute;
        z-index: 2;
        .release-date{
            color: #d7ddd1;
            font-size: 12px;
        }
    }
    .more-details{
        position: relative;
        z-index: 2;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            color:#d7ddd1;
        }
    }
    .movie-popularity{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        bottom: 10px;
        right: 15px;
        font-size: 10px;
        img{
            margin-right: 5px;
        }
    }
}
.movie-normal-bg::after{
    width: 100%;
    content: "";
    top:0;
    left: 0;
    background: linear-gradient(transparent 20%, black);
    position: absolute;
    height:100%;
    z-index: 1;
}
.movie-hover-bg::after{
    width: 100%;
    content: "";
    top:0;
    left: 0;
    background: rgba(0,0,0 , .85);
    position: absolute;
    height:100%;
    z-index: 1;
}
.movie-hover-bg{
    cursor: pointer;
}
.movie-card:hover{
    border: 1px solid #d7ddd1;
    box-shadow: 0px 3px 7px black;
    transform: scale(1.025);
}