.movies{
    width: 80%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        margin-bottom: 10px;
    }
    .movie-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
}